img{
    display: block;
    margin: auto;
    }
.container{
    width: 100%;
    background-color:#EEEEEE;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;   
    
}
.box{
    background-color: aquamarine;
    float: left;
    width: 24.8%;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: initial;
    display: block;
    margin-right: 0.2%;
}
.box1{
    background-color:skyblue;
    float: left;
    width: 49.8%;    
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: initial;
    display: block;
    margin-right: 00.2%;
}
.box2{
    background-color: steelblue;
    float: left;
    width: 25%;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: initial;
    display: block;
}

